body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(180deg, #FCF3A8 0%, white 100%);
    min-height: 99vh;
    margin: 0.5vh;
}

#bingo-board {
    border-collapse: collapse;
    margin-bottom: 1em;
    font: 20px 'Nunito', sans-serif;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.title, a {
    font-family: 'Fredoka One', 'Nunito', sans-serif;
    font-size: 2.5vw;
    margin-top: 0;
    padding: 24px;
    text-align: center;
    background: #6A2C70;
    color: #F9ED69;
    text-shadow: -2px 2px 0px black;
    text-decoration: none;
    border-radius: 16px;
}

.title img {
    vertical-align: middle;
    width: 4vw;
}

.bingo-cell {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background: white;
}

.bingo-cell:hover {
    background: #DBE9EE;
}

.marked {
    background-color: #048BA8;
    color: white;
}

.marked:hover {
    background-color: #048BA8;
    color: black;
}

button {
    margin: 1em 0 0;
    font: bold 20px 'Nunito', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid black;
    color: white;
    padding: 6px 48px;
    background-color: #6A2C70;
    border-radius: 5px;
}

button.submit {
    background-color: #048BA8;
}

button.submit:hover {
    color: #048BA8;
}

button.reset {
    background-color: red;
}

button.reset:hover {
    color: red;
}

button.no-reset {
    background-color: green;
}

button.no-reset:hover {
    color: green;
}

button:hover {
    color: #6A2C70;
    background-color: #E0E0E0;
}

.buttons {
    display: none;
    justify-content: space-between;
    max-width: 640px;
    margin: 0 auto;
}

.inputs {
    display: none;
    max-width: 640px;
    margin: 0 auto;
    justify-content: center;
}

.input {
    margin: 1em 0.1em 0 0;
    font: 20px 'Nunito', sans-serif;
    text-transform: capitalize;
    padding: 6px 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.bingoOrLine {
    text-align: center;
    display: none;
    margin: 0 auto;
    font: bold 40px 'Nunito', sans-serif;
}

#bingoOrLine img {
    display: block;
    margin: 0 auto;
}

.confirm {
    text-align: center;
    display: none;
    font: 10px 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 768px) {
    .title, a {
        font-size: 8vw;
    }

    .title img {
        width: 10vw;
    }
}